 .main-sidebar .sidebar-brand a .logo-name {
    vertical-align: middle;
    font-size: 20px;
    color:#7ba2e6 !important;
}


/* theme color initial settings

 /* .main-sidebar .sidebar-brand a {
    color: #000 !important;
}

.sidebar-menu li a {
    color: #a9b7d0 !important;
    background-color: #353c48 !important;
}

.sidebar-brand {
    background-color: #353c48 !important;
    color:#fff !important
}

.main-sidebar {
    background-color: #353c48 !important;
    color:#fff !important
}

.navbar {
    align-items: center;
    background-color: #7ba2e6 !important;
} */